@{
    ViewBag.Title = "Fedisal-[Becarios]";

}
@Styles.Render("~/Content/css")
<div class="jumbotron">
    
    <div class="row">
        <div class="col-xs-6 col-sm-1"><img src="~/Content/img/logo.png" width="70px" class="img-circle"></div>
        <div class="col-xs-6 col-sm-2"><h1>Fedisal</h1></div>
        
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-1"></div>
        <div class="col-xs-6 col-sm-2"><p class="lead">[Becarios]</p></div>
    </div>
</div>
